In [50]:
import pandas as pd

In [51]:

df = pd.read_csv("/Users/roy/Desktop/SPIDE/Phase2/csvs/OverallPlayerStats.csv")

In [52]:
df.columns

df = df[df.PTS != "PTS"]
df["TRB"] = df["TRB"].astype(float)
df["PTS"] = df["PTS"].astype(float)
df["AST"] = df["AST"].astype(float)

df["COMBO"] = (df["PTS"])+(df["AST"])+(df["TRB"])
df = df.sort_values(by=["PTS"],ascending=False)
PTS_df = df.sort_values(by=["3P"],ascending=False)


df.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'COMBO'],
      dtype='object')

In [53]:
grouped_teams = df.groupby('Tm')
columns_to_include = ['Tm' ,'Player','G','MP','TRB', 'AST','PTS', 'COMBO']
# Create separate DataFrames for each team
team_dataframes = {}
for team_name, group_data in grouped_teams:
    team_dataframes[team_name] = group_data.loc[:,columns_to_include]
df=df.loc[:,columns_to_include].head(30)
print(df)
# Access each team's DataFrame using the team name

      Tm                   Player   G    MP   TRB   AST   PTS  COMBO
181  PHI              Joel Embiid  34  34.0  11.3   5.7  35.3   52.3
168  DAL              Luka Dončić  57  37.5   9.1   9.9  34.6   53.6
227  OKC  Shai Gilgeous-Alexander  63  34.4   5.5   6.4  31.1   43.0
13   MIL    Giannis Antetokounmpo  62  35.0  11.2   6.5  30.8   48.5
175  PHO             Kevin Durant  58  37.3   6.7   5.5  28.5   40.7
447  CLE         Donovan Mitchell  47  35.7   5.4   6.2  28.0   39.6
79   PHO             Devin Booker  51  35.8   4.6   6.8  27.5   38.9
106  NYK            Jalen Brunson  59  35.3   3.7   6.5  27.1   37.3
203  SAC             De'Aaron Fox  55  35.7   4.3   5.6  27.0   36.9
151  GSW            Stephen Curry  59  32.8   4.4   4.9  26.9   36.2
620  BOS             Jayson Tatum  61  35.9   8.4   4.9  26.9   40.2
716  ATL               Trae Young  51  36.5   2.7  10.8  26.4   39.9
178  MIN          Anthony Edwards  62  35.1   5.2   5.0  26.3   36.5
331  DEN             Nikola Jokić  63  34.3  12.3   9.2  26.2   47.7
408  PHI             Tyrese Maxey  55  37.4   3.7   6.3  26.0   36.0
316  LAL             LeBron James  57  35.1   7.1   8.0  25.3   40.4
305  DAL             Kyrie Irving  43  34.1   5.0   4.9  25.2   35.1
455  MEM                Ja Morant   9  35.3   5.6   8.1  25.1   38.8
153  LAL            Anthony Davis  62  35.8  12.5   3.6  24.8   40.9
371  MIL           Damian Lillard  60  35.0   4.4   6.9  24.7   36.0
33   MEM             Desmond Bane  37  34.5   4.6   5.3  24.4   34.3
541  NYK            Julius Randle  46  35.4   9.2   5.0  24.0   38.2
363  LAC            Kawhi Leonard  57  34.6   6.2   3.8  24.0   34.0
30   CHO              LaMelo Ball  22  32.3   5.1   8.0  23.9   37.0
562  CHO             Terry Rozier  30  35.5   3.9   6.6  23.2   33.7
398  UTA          Lauri Markkanen  51  32.9   8.3   2.0  23.1   33.4
157  CHI            DeMar DeRozan  63  37.7   4.2   5.3  23.0   32.5
99   BOS             Jaylen Brown  59  33.4   5.6   3.7  22.9   32.2
32   ORL           Paolo Banchero  63  34.9   6.8   5.2  22.8   34.8
592  POR          Anfernee Simons  41  34.5   3.6   5.4  22.7   31.7

In [54]:
df.loc[:,columns_to_include].head(30)
x=df["Player"][0:31]
print(str(list(x)).replace("'",''))

[Joel Embiid, Luka Dončić, Shai Gilgeous-Alexander, Giannis Antetokounmpo, Kevin Durant, Donovan Mitchell, Devin Booker, Jalen Brunson, "DeAaron Fox", Stephen Curry, Jayson Tatum, Trae Young, Anthony Edwards, Nikola Jokić, Tyrese Maxey, LeBron James, Kyrie Irving, Ja Morant, Anthony Davis, Damian Lillard, Desmond Bane, Julius Randle, Kawhi Leonard, LaMelo Ball, Terry Rozier, Lauri Markkanen, DeMar DeRozan, Jaylen Brown, Paolo Banchero, Anfernee Simons]

In [55]:
str(list(team_dataframes["NYK"]["Player"].head(20))).replace("'",'')

'[Jalen Brunson, Julius Randle, RJ Barrett, OG Anunoby, Immanuel Quickley, Donte DiVincenzo, Bojan Bogdanović, Josh Hart, Precious Achiuwa, Alec Burks, Quentin Grimes, Isaiah Hartenstein, Miles McBride, Mitchell Robinson, Evan Fournier, Jericho Sims, Malachi Flynn, Jacob Toppin, Dylan Windler, Taj Gibson]'

In [56]:
team_dataframes["MIL"].head(10)

      Tm                 Player   G    MP   TRB  AST   PTS  COMBO
13   MIL  Giannis Antetokounmpo  62  35.0  11.2  6.5  30.8   48.5
371  MIL         Damian Lillard  60  35.0   4.4  6.9  24.7   36.0
431  MIL        Khris Middleton  43  26.3   4.3  5.0  14.8   24.1
523  MIL           Bobby Portis  65  24.0   7.1  1.2  13.2   21.5
380  MIL            Brook Lopez  62  31.2   5.3  1.6  12.5   19.4
53   MIL          Malik Beasley  63  29.8   3.9  1.4  11.4   16.7
145  MIL            Jae Crowder  34  24.2   3.6  1.4   6.2   11.2
502  MIL          Cameron Payne  47  14.9   1.3  2.3   6.2    9.8
138  MIL        Pat Connaughton  59  21.7   3.2  1.9   5.6   10.7
62   MIL       Patrick Beverley  13  17.9   3.3  2.0   5.5   10.8

In [57]:
import sqlite3
conn = sqlite3.connect("/Users/roy/Desktop/SPIDE/Phase2/DataBase/NBA_Player_Database.db")
cursor = conn.cursor()

In [58]:
query = 'SELECT * FROM BoxScores where Player = "Domantas Sabonis"'
df = pd.read_sql_query(query, conn)
df

,boxscores_id,BoxScore_ID,Player,MP,FG,FGA,FG%,3P,3PA,3P%,...,PF,PTS,+/-,BoxScore_Type,Token,Home,Away,Date,Team,Opponent
0,2327,202310250UTAVSSAC_G SAC,Domantas Sabonis,32:08,8.0,14.0,0.571,1.0,2.0,0.5,...,3.0,22.0,+5,G,202310250UTAVSSAC,UTA,SAC,20231025,SAC,UTA
1,2343,202310250UTAVSSAC_Q1 SAC,Domantas Sabonis,8:52,1.0,1.0,1.000,0.0,0.0,NaN,...,0.0,2.0,+3,Q1,202310250UTAVSSAC,UTA,SAC,20231025,SAC,UTA
2,2359,202310250UTAVSSAC_Q2 SAC,Domantas Sabonis,7:29,3.0,6.0,0.500,1.0,2.0,0.5,...,0.0,7.0,+4,Q2,202310250UTAVSSAC,UTA,SAC,20231025,SAC,UTA
3,2375,202310250UTAVSSAC_H1 SAC,Domantas Sabonis,16:21,4.0,7.0,0.571,1.0,2.0,0.5,...,0.0,9.0,+7,H1,202310250UTAVSSAC,UTA,SAC,20231025,SAC,UTA
4,2391,202310250UTAVSSAC_Q3 SAC,Domantas Sabonis,9:01,2.0,4.0,0.500,0.0,0.0,NaN,...,1.0,7.0,-1,Q3,202310250UTAVSSAC,UTA,SAC,20231025,SAC,UTA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,191765,202403100SACVSHOU_Q2 SAC,Domantas Sabonis,8:20,3.0,3.0,1.000,0.0,0.0,NaN,...,0.0,6.0,-6,Q2,202403100SACVSHOU,SAC,HOU,20240310,SAC,HOU
443,191780,202403100SACVSHOU_H1 SAC,Domantas Sabonis,19:03,7.0,8.0,0.875,0.0,0.0,NaN,...,0.0,14.0,+6,H1,202403100SACVSHOU,SAC,HOU,20240310,SAC,HOU
444,191795,202403100SACVSHOU_Q3 SAC,Domantas Sabonis,9:27,1.0,1.0,1.000,0.0,0.0,NaN,...,0.0,2.0,-14,Q3,202403100SACVSHOU,SAC,HOU,20240310,SAC,HOU
445,191810,202403100SACVSHOU_Q4 SAC,Domantas Sabonis,11:06,2.0,2.0,1.000,0.0,0.0,NaN,...,1.0,9.0,+9,Q4,202403100SACVSHOU,SAC,HOU,20240310,SAC,HOU
446,191825,202403100SACVSHOU_H2 SAC,Domantas Sabonis,20:33,3.0,3.0,1.000,0.0,0.0,NaN,...,1.0,11.0,-5,H2,202403100SACVSHOU,SAC,HOU,20240310,SAC,HOU